<%- include('partials/head') %>
<div class="container">
  
        <% if (locals.searchMsg) { %>
        <p><%= searchMsg %></p>
        <%  } %>
  
    <ul>
    <% films.forEach(function(film){ %>
          <li><a href="/film/<%= film._id %>"><%= film.filmName %></a></li>
        <% }) %>
    </ul>    
</div>
<%- include('partials/footer'); %>