<%- include('partials/head') %>
<div class="container">
  <h1><%= film.filmTitle %></h1>
  <p><%= film.filmDescription %></p>
  <p><%= new Date(film.releaseDate).toDateString() %></p>
</div>
<%- include('partials/footer'); %>
